{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SofiTreon</title>

    {% include "to_include/style.html" %}

</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

{% include "to_include/navbar.html" %}
{% include "to_include/aside.html" %}

    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{ nom_page }}</h1>
          </div><!-- /.col -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

      <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

          <!-- /.col -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">information sur le reseau</a></li>
                  <li>
                      <div class="card-tools float-right">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                  </button>
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-tool " data-toggle="dropdown">
                                      <i class="fas fa-wrench"></i>
                                    </button>
{#                                    <div class="dropdown-menu dropdown-menu-right" role="menu">#}
{#                                      <a href="#" class="dropdown-item">Action</a>#}
{#                                      <a href="#" class="dropdown-item">Another action</a>#}
{#                                      <a href="#" class="dropdown-item">Something else here</a>#}
{#                                      <a class="dropdown-divider"></a>#}
{#                                      <a href="#" class="dropdown-item">Separated link</a>#}
{#                                    </div>#}
                                  </div>

                      </div>
                  </li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">

                      <div class="row">
                      <div class="col-md-4">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                    <img class="col-sm-3"
                       src="{% static 'images/ssh.png' %}"
                       alt="User profile picture">

                </div>


                <form method="post" action="{% url 'commands_line' %}">
                    {% csrf_token %}
                    <ul class="list-group list-group-unbordered">
                      <li class="">
                        <div class="form-group">
                            <input name="ip" type="text"  id="addr_ip" class="form-control" placeholder="adresse IP">
                        </div>
                      </li>

                        <div class="form-group">
                        <select name="device_type" class="form-control" id="exampleFormControlSelect1">
                            <option>cisco_ios</option>
                            <option>huawei_ios</option>
                            <option>juniper_ios</option>
                        </select>
                      </div>

                      <li class="">
                        <div class="form-group">
                            <input name="username" type="text"  class="form-control" placeholder="ssh username">
                        </div>
                      </li>

                      <li class="">
                        <div class="form-group">
                            <input name="password" type="text"  class="form-control" placeholder="ssh password">
                        </div>
                      </li>

                      <li class="">
                        <div class="form-group">
                            <input name="enable_secret_password" type="text"  class="form-control" placeholder="enable password">
                        </div>
                      </li>

                        <div class="timeline-footer">
                        <button type="submit" class="btn btn-block bg-gradient-success btn-lg "> valider les informations </button>
                      </div>
                    </ul>
                </form>

{#                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>#}
              </div>
              <!-- /.card-body -->
            </div>

          </div>
                          <div class="col-md-8">
                            <div class="card">
                              <div class="card-header">
                                <h5 class="card-title"> les appareils connectes </h5>


                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-8">
                                    <p class="text-center">
                                      <strong> 14 November, 2014</strong>
                                    </p>

                                    <div class="table-responsive">
                                      <table class="table ">
                                        <thead>
                                            {% for net, ddd in connected_hosts %}

                                            {% if net.pdst == "192.168.126.6" %}

                                             <tr>
                                                <th> <i class="fas fa-wifi"></i> </th>
                                                <th> <a > {{ net.pdst }} </a></th>
                                                <th> mon localhost </th>
                                             </tr>

                                             {% else %}

                                             <tr>
                                                <th> <a  href="{% url 'pre_monitor' net.pdst %}"> <i class="fas fa-wifi"></i> </a> </th>
                                                <th> <a  href="{% url 'pre_monitor' net.pdst %}"> {{ net.pdst }} </a></th>
                                                <th> <a  href="{% url 'pre_monitor' net.pdst %}"> cisco-router </a></th>
                                             </tr>

                                             {% endif %}


                                             {% endfor %}
                                        </thead>
                                      </table>
                                    </div>

                                    <!-- /.chart-responsive -->
                                  </div>
                                  <!-- /.col -->
                                  <div class="col-md-4">


                                    <div class="progress-group">
                                      <img class="col-sm-2 " src="{% static "images/router.png" %}" >
                                        : c'est un routeur
                                    </div>
                                    <!-- /.progress-group -->

                                    <div class="progress-group">
                                      <img class="col-sm-2 " src="{% static "images/pc.png" %}" >
                                        : c'est un pc
                                    </div>

                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                      <img class="col-sm-2 " src="{% static "images/switch.png" %}" >
                                        : c'est un switch
                                    </div>

                                    <!-- /.progress-group -->
                                  </div>
                                  <!-- /.col -->
                                </div>
                                <!-- /.row -->
                              </div>
                              <!-- ./card-body -->
                              <div class="card-footer">
                                <div class="row">
                                  <div class="col-sm-4 col-6">
                                    <div class="description-block border-right">
                                      <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> {{ connected_hosts|length }} </span>
                                      <h5 class="description-header"> <img class="col-sm-2 " src="{% static "images/router.png" %}" >  </h5>
                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->
                                  <div class="col-sm-4 col-6">
                                    <div class="description-block border-right">
                                      <span class="description-percentage text-danger"><i class="fas fa-caret-up"></i> 0</span>
                                      <h5 class="description-header"> <img class="col-sm-2 " src="{% static "images/pc.png" %}" >  </h5>
                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->
                                  <div class="col-sm-4 col-6">
                                    <div class="description-block">
                                      <span class="description-percentage text-danger"><i class="fas fa-caret-up"></i> 0 </span>
                                      <h5 class="description-header"> <img class="col-sm-2 " src="{% static "images/switch.png" %}" >  </h5>

                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->

                                </div>
                                <!-- /.row -->
                              </div>
                              <!-- /.card-footer -->
                            </div>
{#                          <div id="commands_result">fds</div>#}
                            <!-- /.card -->
                          </div>
                        </div>
                    </div>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

  </div>

</div>
</body>