{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SofiTreon</title>

    {% include "to_include/style.html" %}

</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

{% include "to_include/navbar.html" %}
{% include "to_include/aside.html" %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1 class="m-0 text-dark">{{ nom_page }}</h1>

            <ol class="breadcrumb float-sm-right">

              <div class="alert alert-success" id="msg" role="alert"> <i class="fas fa-check-circle"></i> bienvenue, </div>
            </ol>

{#              {% if messages %}#}
{#                  {% for message in messages %}#}

{#                  {% endfor %}#}
{#              {% endif %}#}

          </div><!-- /.col -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                    {% if request.user.username == "root" %}
                    <img
                       src="{% static 'images/admin.png' %}"
                       alt="User profile picture">
                    {% else %}
                        <img
                       src="{% static 'images/simple_user.png' %}"
                       alt="User profile picture">
                    {% endif %}
                </div>

                <h3 class="profile-username text-center"> {{ request.user.username }} </h3>

                <p class="text-muted text-center">Soficlef Engineer</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>utilisateur</b> <a class="float-right">{{ request.user.username }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>email</b> <a class="float-right">{{ request.user.username }}@gmail.com</a>
                  </li>
                  <li class="list-group-item">
                    <b>date d'ajout</b> <a class="float-right">{{ request.user.date_joined }}</a>
                  </li>

                  <li class="list-group-item">
                    <b>administrateur:</b>
                      <a class="float-right">
                          {% if request.user.is_superuser == 1 %}
                              Oui
                              {% else %} Non
                          {% endif %}

                      </a>
                  </li>

                  <li class="list-group-item">
                    <b>dernier login </b> <a class="float-right">{{ request.user.last_login }}</a>
                  </li>

                </ul>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">A propos de soficlef</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> prensentation</strong>

                <p class="text-muted">
                  entreprise à caractère industriel et commercial
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> sieges</strong>

                  <ul>
                      <li class="text-muted">si-mustapha</li>
                      <li class="text-muted">Chéraga</li>
                  </ul>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> operations</strong>

                <ul>
                      <li class="text-muted">Production et Fabrication</li>
                      <li class="text-muted">Montage des serrures</li>
                      <li class="text-muted">Commercialisation</li>

                </ul>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> contact</strong>

                <p class="text-muted">soficlef35@gmail.com </p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab"> les appareils connectes </a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Modifier mes informations</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">

                      <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                              <div class="card-header">
                                <h5 class="card-title"> les appareils connectes : {{ connected_hosts|length|add:-1 }} </h5>


                                <div class="card-tools">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                  </button>
{#                                  <div class="btn-group">#}
{#                                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">#}
{#                                      <i class="fas fa-wrench"></i>#}
{#                                    </button>#}
{#                                    <div class="dropdown-menu dropdown-menu-right" role="menu">#}
{#                                      <a href="#" class="dropdown-item">Action</a>#}
{#                                      <a href="#" class="dropdown-item">Another action</a>#}
{#                                      <a href="#" class="dropdown-item">Something else here</a>#}
{#                                      <a class="dropdown-divider"></a>#}
{#                                      <a href="#" class="dropdown-item">Separated link</a>#}
{#                                    </div>#}
{#                                  </div>#}
                                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                  </button>
                                </div>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-8">
                                    <p class="text-center">
                                      <strong id="now_time"> </strong>
                                    </p>

                                    <div class="table-responsive">
                                      <table class="table ">
                                        <thead>
                                            {% for net, ddd in connected_hosts %}

                                            {% if net.pdst == "192.168.126.6" %}

                                             <tr>
                                                <th> <i class="fas fa-wifi"></i> </th>
                                                <th> <a > {{ net.pdst }} </a></th>
                                                <th> mon localhost </th>
                                             </tr>

                                             {% else %}

                                             <tr>
                                                <th> <a  href="{% url 'pre_monitor' net.pdst %}"> <i class="fas fa-wifi"></i> </a> </th>
                                                <th> <a  href="{% url 'pre_monitor' net.pdst %}"> {{ net.pdst }} </a></th>
                                                <th> <a  href="{% url 'pre_monitor' net.pdst %}"> cisco-router </a></th>
                                             </tr>

                                             {% endif %}


                                             {% endfor %}
                                        </thead>
                                      </table>
                                    </div>

                                    <!-- /.chart-responsive -->
                                  </div>
                                  <!-- /.col -->
                                  <div class="col-md-4">


                                    <div class="progress-group">
                                      <img class="col-sm-2 " src="{% static "images/router.png" %}" >
                                        : c'est un routeur
                                    </div>
                                    <!-- /.progress-group -->

                                    <div class="progress-group">
                                      <img class="col-sm-2 " src="{% static "images/pc.png" %}" >
                                        : c'est un pc
                                    </div>

                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                      <img class="col-sm-2 " src="{% static "images/switch.png" %}" >
                                        : c'est un switch
                                    </div>

                                    <!-- /.progress-group -->
                                  </div>
                                  <!-- /.col -->
                                </div>
                                <!-- /.row -->
                              </div>
                              <!-- ./card-body -->
                              <div class="card-footer">
                                <div class="row">
                                  <div class="col-sm-4 col-6">
                                    <div class="description-block border-right">
                                      <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> {{ connected_hosts|length }} </span>
                                      <h5 class="description-header"> <img class="col-sm-2 " src="{% static "images/router.png" %}" >  </h5>
                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->
                                  <div class="col-sm-4 col-6">
                                    <div class="description-block border-right">
                                      <span class="description-percentage text-danger"><i class="fas fa-caret-up"></i> 0</span>
                                      <h5 class="description-header"> <img class="col-sm-2 " src="{% static "images/pc.png" %}" >  </h5>
                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->
                                  <div class="col-sm-4 col-6">
                                    <div class="description-block">
                                      <span class="description-percentage text-danger"><i class="fas fa-caret-up"></i> 0 </span>
                                      <h5 class="description-header"> <img class="col-sm-2 " src="{% static "images/switch.png" %}" >  </h5>

                                    </div>
                                    <!-- /.description-block -->
                                  </div>
                                  <!-- /.col -->

                                </div>
                                <!-- /.row -->
                              </div>
                              <!-- /.card-footer -->
                            </div>
                            <!-- /.card -->
                          </div>
          <!-- /.col -->
                        </div>

                    </div>

                    <div class="post" >
                      <img src="{% static 'images/topology_soficlef.PNG'%}">
                    </div>
                    <!-- /.post -->
                  </div>

                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                      {% csrf_token %}
                    <form class="form-horizontal" method="post" >
                        {% csrf_token %}


                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">utilisateur</label>
                        <div class="col-sm-10">
                          {{ user_update_form.username }}
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">email</label>
                        <div class="col-sm-10">
                          {{ user_update_form.email }}
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-block bg-gradient-success btn-lg ">modifier mes informations</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

           <!-- /.5 dernier visiteur -->
              <div class="card col-lg-12 ">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th> <i class="fas fa-user-friends"></i> utilisateur</th>
                      <th> <i class="fas fa-sign-in-alt"></i> le dernier login</th>
                      <th><i class="fas fa-envelope-open-text"></i>  email </th>
                    </tr>
                    </thead>

                    <tbody>
                {% for last_l in last_3_logged %}
                    <tr>
                        <td><a href="pages/examples/invoice.html">{{ last_l.id }}</a></td>
                        <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">{{ last_l.last_login }}</div>
                        </td>
                        <td><span class="badge badge-success">{{ last_l.username }}</span></td>
                        <td><span class="badge badge-info">{{ last_l.email }}</span></td>


                    </tr>
                {% endfor %}

                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>


        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

</div>

<!-- /form scripts -->
<script>
		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[4].value="{{ user.username }}";
		form_fields[5].value="{{ user.email }}";




		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
</script>

<script>
        $(document).ready(function () {
            setInterval(function () {
                var dt = new Date();
                $('#now_time').text(dt.getHours()+":"+dt.getUTCMinutes()+":"+dt.getUTCSeconds());
            },1000);
            var dt = new Date();
        });
</script>

<script>
    setTimeout(function () {
        if ($("#msg").length > 0)
        {
            $("#msg").remove();
        }

    }, 2000)
</script>

</body>
</html>
