{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
</head>
<body>
    <div class="registration-form" style="margin: 1%;">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <span><img style="width: 50%; margin-left: 25%;" src="{% static 'images/sofitreon_black.png' %}"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" name="password" placeholder="password">
            </div>

            <div class="col-4 text-center">
                <button type="submit" class="btn btn-primary btn-block" style="margin-left: 125%;">Login</button>
            </div>
        </form>
        <div class="social-media">

{#            <div class="social-icons">#}
{#                <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>#}
{#                <a href="#"><i class="icon-social-google" title="Google"></i></a>#}
{#                <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>#}
{#            </div>#}

            {% for msg in messages %}
            <a href="#" class="btn btn-block btn-danger" style="margin-left:10%; margin-right:10%; width: 80%;">
                <i class="fas fa-exclamation-triangle"></i>
                          {{ msg }}
                <i class="fas fa-exclamation-triangle"></i>
            </a>
            {% endfor %}

        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="{% static 'js/script_login.js' %}"></script>
</body>
</html>








