{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 3 | Registration Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% include "to_include/style.html" %}
</head>

<body class="hold-transition sidebar-mini" >
<div class="register-box" >

  <div class="card" style="margin-right: -200%; margin-left: 120%; margin-top: 40%;" >
    <div class="card-body register-card-body" >
      <p class="login-box-msg">ajouter un nouveau compte</p>

      <form action="" method="POST" class="container center_div">
          {% csrf_token %}
        <div class="input-group mb-3 ">
            {{ form.username }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
            {{ form.password1 }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            {{ form.password2 }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
               I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
            {% for msg in messages %}
                <p id="messages"> {{ msg }} </p>
            {% endfor %}

          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>


      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="{% url 'login' %}" class="btn btn-block btn-primary">
          login
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div>

    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>


<!-- /form scripts -->
<script>
		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='password';
		form_fields[3].placeholder='confirmer password...';

		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
</script>

</body>
</html>
