{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static "images/soficlef_logo.png" %}" alt="soficlef_logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">SofiTreon</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
{#            <a href="{% url 'profile' %}">#}
            <a href="#">
                <img class="img-circle elevation-2" src="{% static "avatars/simple_user.png" %}" >
            </a>

        </div>
        <div class="info">
            {% csrf_token %}
          <a href="#" class="d-block">{{ request.user }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'pre_monitor' %}" class="nav-link">
              <i class="nav-icon fas fa-desktop"></i>
              <p>
                pre - monitoring
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'monitor' %}" class="nav-link">
              <i class="nav-icon fas fa-desktop"></i>
              <p>
                monitoring
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'configuration' %}" class="nav-link">
              <i class="nav-icon fas fa-terminal"></i>
              <p>
                configuration
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'report' %}" class="nav-link">
              <i class="nav-icon fas fa-clipboard"></i>
              <p>
                report
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link">
              <i class="nav-icon fas fa-clipboard"></i>
              <p>
                login
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link">
              <i class="nav-icon fas fa-clipboard"></i>
              <p>
                register
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>